<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> {{title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">


</head>
<body>
	<script src="/js/bootstrap.min.js"></script>

<div class="container-md">
<a href="/" ><img src="/images/logo.svg" class="img-responsive center-block" width="150" alt="Responsive image" style="margin: 1.5em auto 1em auto;">
</a>
</div>


<div class="container">
<div class="col-md-4 text-center"> 
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="/form">
	    <img src="/images/enviar.svg" width="55" height="55" alt="">
	  </a>
	  <a class="navbar-brand" href="/ler-imagem">
	   	<img src="/images/receber.svg" width="55" height="55" alt="">

	  </a>
	  <a class="navbar-brand" href="#">
	    <img src="/images/sobre.svg" width="55" height="55" alt="">

	  </a>
	</nav>
</div></div>






<div class="container">
<div class="col-sm-6 col-sm-offset-3">



	{{{body}}}
</div></div>

<nav class="navbar navbar-fixed-bottom" role="navigation">
    <div class="container text-center">
        <p class="navbar-text col-md-12 col-sm-12 col-xs-12" style="font-size: 10px">Por <a href="http://arturcabral.me/" target="_blank">Artur Cabral</a>     |      2020.</p>
    </div>
</nav>

</body>
</html>