<br><br>
<div class="col-md-4 text-left dePara"> 
	<h3>de: {{sender}} </h3>
	<h3>para: {{receiver}}</h3>
</div>
<br>
<div class="col-md-4 text-center"> 
	<button class="btn buttonM" onclick="receber()">receber</button>
</div>

<script type="text/javascript">
	function receber() {
			console.log('Teste');	
			window.navigator.vibrate(1000); // vibra por 1000ms (1s)
			navigator.vibrate(2000); // vibra por 1000ms (1s)


	}


</script>