<h1>Deu certo</h1>
<h2>De : {{sender}} </h2>
<h2>Para : {{receiver}}</h2>
<br><br>
<button onclick="receber()">Receber</button>

<script type="text/javascript">
	function receber() {
			console.log('Teste');	
			window.navigator.vibrate(1000); // vibra por 1000ms (1s)
			navigator.vibrate(2000); // vibra por 1000ms (1s)


	}


</script>