<form action="/add" method="get">
  <h3>de:</h3><input name="sender" value="João" style="
  width: 100%; 
  background-color: #FFA500;
  border: none;
  font-size: 14pt;
  ">
  <h3>para:</h3><input name="receiver" value="Pedro" style="
  width: 100%; 
  background-color: #FFA500;
  border: none;
  font-size: 14pt;
  ">
  <br>
  <div class="col-md-4 text-center"> 
    <button id="singlebutton" name="singlebutton" class="btn buttonM">enviar</button> 
</div>
</form>