

<h4  class="text-justify mt-4" style="padding: 2em 0em 0.3em 0em;">Pulso,</h4>
<p class="text-justify" style="font-size: 11px">pode ser definido como mudança rápida em algumas características de um sinal, ou como espectro que se propaga pelo espaço gerando um campo magnético (pulso eletromagnético) ou até mesmo como ritmo das variações de pressão sangüínea no nosso corpo . <br>
Neste momento onde não podemos abraçar ou tocar as pessoas que amamos, um pulso ou uma propagação de uma vibração mecânica não substitui um abraço ou toque, mas sinaliza uma intenção de um contato físico. <br>
Nesta aplicação você pode criar uma imagem generativa contendo informações baseadas em etiquetas preenchidas pelo emissor, a qual será traduzida em "pulso" sentido pelo receptor. Cada imagem gerada carrega um hash em seus meta-dados que funciona como um índice para o pulso criado. Um mecanismo baseado em blockchain garante que cada pulso enviado seja único e inviolável.<br></p>
