<h1>Ler Imagem</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="/js/piexif.js"></script>
<br><br>
<p>Choose a JPEG:</p> <input id="f" type="file" name="jpg" size="30" accept="image/jpeg" />
<br>

<div id="message"></div>

<div id="output">
<img id=imageid src=""  alt="Image preview...">
</div>
<br>
<form action="/verificar-imagem" method="get">
  <label>HASH</label>
  <input id="hashfield" name="hash" value="Hello World" readonly>
  <button>Verificar</button>
</form>

<script>

function printExif(dataURL) {
    var hashfield = document.getElementById("hashfield");

    console.log(hashfield);
    var originalImg = new Image();
    originalImg.src = dataURL;

    var exif = piexif.load(dataURL);
    var ifds = ["0th", "Exif", "GPS", "Interop", "1st"];
    var s = ""
  
        var ifd = ifds[0];
        var ifd_i = "";
        for (var tag in exif[ifd]) {
            var str;
            if (exif[ifd][tag] instanceof Array) {
                str = JSON.stringify(exif[ifd][tag]);
            } else {
                str = escape(exif[ifd][tag]);
            }
            //console.log('TIPO');
            //console.log(piexif.TAGS[ifd][tag]["name"]); //tipo
            hashfield.value = str;

            //console.log(str); //data
        }
        

 

    originalImg.onload = function () {
        var im = $(originalImg).addClass("originalImage");
        //coloca a imagem
        document.getElementById("imageid").src = im['context'].src;
        //console.log(im['context']);
    }


}

function handleFileSelect(evt) {
    var file = evt.target.files[0];
    var reader = new FileReader();
    reader.onloadend = function(e){
        printExif(e.target.result);
    };
    reader.readAsDataURL(file);
}

document.getElementById('f').addEventListener('change', handleFileSelect, false);
</script>